color-space = #212C42

color-moon-1 = #E6E0BC
color-moon-2 = #F1ECC4

color-star = #FFFFFF
color-star-80 = (color-star - 20%)
color-star-70 = (color-star - 30%)
color-star-60 = (color-star - 40%)
color-star-50 = (color-star - 50%)
color-star-40 = (color-star - 60%)
color-star-30 = (color-star - 70%)
color-star-20 = (color-star - 80%)

color-planet-1 = #FFD581
color-planet-2 = #FFB47F