html,
body {
  background-color: #212c42;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
body {
  align-items: center;
  display: flex;
  justify-content: center;
}
.moon {
  animation: moon 6s infinite ease-in-out;
  background-color: #e6e0bc;
  border-radius: 50%;
  height: 200px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 200px;
  z-index: 1;
}
.moon .moon-lit {
  background-color: #f1ecc4;
  border-radius: 50%;
  height: 100%;
  right: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  width: 100%;
}
.moon .moon-crater {
  background-color: #e6e0bc;
  border-radius: 50%;
  position: absolute;
  height: 30%;
  right: 30%;
  top: 65%;
  width: 30%;
}
.moon .moon-crater:nth-of-type(2) {
  height: 5%;
  right: 40%;
  top: 20%;
  width: 5%;
}
.moon .moon-crater:last-of-type {
  height: 10%;
  right: 70%;
  top: 45%;
  width: 10%;
}
@-moz-keyframes moon {
  from {
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-250%, 20%);
    z-index: 1;
  }
  26% {
    z-index: 10;
  }
  50% {
    height: 250px;
    width: 250px;
  }
  75% {
    transform: translate(150%, -120%);
    z-index: 10;
  }
  76% {
    z-index: 1;
  }
  to {
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes moon {
  from {
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-250%, 20%);
    z-index: 1;
  }
  26% {
    z-index: 10;
  }
  50% {
    height: 250px;
    width: 250px;
  }
  75% {
    transform: translate(150%, -120%);
    z-index: 10;
  }
  76% {
    z-index: 1;
  }
  to {
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
  }
}
@-o-keyframes moon {
  from {
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-250%, 20%);
    z-index: 1;
  }
  26% {
    z-index: 10;
  }
  50% {
    height: 250px;
    width: 250px;
  }
  75% {
    transform: translate(150%, -120%);
    z-index: 10;
  }
  76% {
    z-index: 1;
  }
  to {
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
  }
}
@keyframes moon {
  from {
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-250%, 20%);
    z-index: 1;
  }
  26% {
    z-index: 10;
  }
  50% {
    height: 250px;
    width: 250px;
  }
  75% {
    transform: translate(150%, -120%);
    z-index: 10;
  }
  76% {
    z-index: 1;
  }
  to {
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
  }
}
.planet {
  animation: planet-balance 2s infinite alternate ease-in-out;
  border-radius: 50%;
  height: 500px;
  overflow: hidden;
  position: relative;
  transform: rotate(15deg);
  width: 500px;
  z-index: 5;
}
.planet .planet-left,
.planet .planet-right,
.planet .planet-center {
  height: 100%;
  position: absolute;
  top: 0;
  width: 50%;
}
.planet .planet-left {
  left: 0;
  background-color: #ffd581;
}
.planet .planet-right {
  right: 0;
  background-color: #ffb47f;
}
.planet .planet-center {
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
}
.planet .planet-line {
  animation: 2s alternate infinite ease-in-out;
  background-color: #fff;
  border-radius: 1000px;
  height: 4%;
  position: relative;
  left: 0;
  width: 100%;
}
.planet .planet-line:nth-child(1) {
  animation-name: planet-line-1;
  width: 60%;
}
.planet .planet-line:nth-child(2) {
  animation-name: planet-line-2;
  left: -10%;
  width: 70%;
}
.planet .planet-line:nth-child(3) {
  animation-name: planet-line-3;
  width: 70%;
}
.planet .planet-line:nth-child(4) {
  animation-name: planet-line-4;
  left: -30%;
  width: 110%;
}
.planet .planet-line:nth-child(5) {
  animation-name: planet-line-5;
  width: 90%;
}
.planet .planet-line:nth-child(6) {
  animation-name: planet-line-6;
  left: 10%;
  width: 90%;
}
.planet .planet-line:nth-child(7) {
  animation-name: planet-line-7;
  width: 120%;
}
.planet .planet-line:nth-child(8) {
  animation-name: planet-line-8;
  left: 30%;
  width: 60%;
}
.planet .planet-line:nth-child(9) {
  animation-name: planet-line-9;
  width: 100%;
}
.planet .planet-line:nth-child(10) {
  animation-name: planet-line-10;
  left: 40%;
  width: 60%;
}
.planet .planet-line:nth-child(11) {
  animation-name: planet-line-11;
  width: 140%;
}
.planet .planet-line:nth-child(12) {
  animation-name: planet-line-12;
  left: 20%;
  width: 60%;
}
.planet .planet-line:nth-child(13) {
  animation-name: planet-line-13;
  width: 180%;
}
.planet .planet-line:nth-child(14) {
  animation-name: planet-line-14;
  left: 40%;
  width: 60%;
}
.planet .planet-line:nth-child(15) {
  animation-name: planet-line-15;
  width: 90%;
}
.planet .planet-line:nth-child(16) {
  animation-name: planet-line-16;
  left: 40%;
  width: 60%;
}
.planet .planet-line:nth-child(17) {
  animation-name: planet-line-17;
  width: 140%;
}
.planet .planet-line:nth-child(18) {
  animation-name: planet-line-18;
  left: 20%;
  width: 100%;
}
.planet .planet-line:nth-child(19) {
  animation-name: planet-line-19;
  width: 110%;
}
.planet .planet-line:nth-child(20) {
  animation-name: planet-line-20;
  left: -10%;
  width: 160%;
}
.planet .planet-line:nth-child(21) {
  animation-name: planet-line-21;
  width: 60%;
}
.planet .planet-line:nth-child(22) {
  animation-name: planet-line-22;
  left: 10%;
  width: 70%;
}
.planet .planet-line:nth-child(23) {
  animation-name: planet-line-23;
  width: 80%;
}
.planet .planet-line:nth-child(24) {
  animation-name: planet-line-24;
  left: -30%;
  width: 90%;
}
.planet .planet-line:nth-child(25) {
  animation-name: planet-line-25;
  width: 60%;
}
.planet .planet-line.planet-line--bg1 {
  background-color: #ffd581;
}
.planet .planet-line.planet-line--bg2 {
  background-color: #ffb47f;
}
@-moz-keyframes planet-balance {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@-webkit-keyframes planet-balance {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@-o-keyframes planet-balance {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@keyframes planet-balance {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@-moz-keyframes planet-line-1 {
  from {
    width: 60%;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes planet-line-1 {
  from {
    width: 60%;
  }
  to {
    width: 80%;
  }
}
@-o-keyframes planet-line-1 {
  from {
    width: 60%;
  }
  to {
    width: 80%;
  }
}
@keyframes planet-line-1 {
  from {
    width: 60%;
  }
  to {
    width: 80%;
  }
}
@-moz-keyframes planet-line-2 {
  from {
    left: 20%;
  }
  to {
    left: -10%;
  }
}
@-webkit-keyframes planet-line-2 {
  from {
    left: 20%;
  }
  to {
    left: -10%;
  }
}
@-o-keyframes planet-line-2 {
  from {
    left: 20%;
  }
  to {
    left: -10%;
  }
}
@keyframes planet-line-2 {
  from {
    left: 20%;
  }
  to {
    left: -10%;
  }
}
@-moz-keyframes planet-line-3 {
  from {
    width: 60%;
  }
  to {
    width: 90%;
  }
}
@-webkit-keyframes planet-line-3 {
  from {
    width: 60%;
  }
  to {
    width: 90%;
  }
}
@-o-keyframes planet-line-3 {
  from {
    width: 60%;
  }
  to {
    width: 90%;
  }
}
@keyframes planet-line-3 {
  from {
    width: 60%;
  }
  to {
    width: 90%;
  }
}
@-moz-keyframes planet-line-4 {
  from {
    left: 0;
  }
  to {
    left: -40%;
  }
}
@-webkit-keyframes planet-line-4 {
  from {
    left: 0;
  }
  to {
    left: -40%;
  }
}
@-o-keyframes planet-line-4 {
  from {
    left: 0;
  }
  to {
    left: -40%;
  }
}
@keyframes planet-line-4 {
  from {
    left: 0;
  }
  to {
    left: -40%;
  }
}
@-moz-keyframes planet-line-5 {
  from {
    width: 80%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes planet-line-5 {
  from {
    width: 80%;
  }
  to {
    width: 100%;
  }
}
@-o-keyframes planet-line-5 {
  from {
    width: 80%;
  }
  to {
    width: 100%;
  }
}
@keyframes planet-line-5 {
  from {
    width: 80%;
  }
  to {
    width: 100%;
  }
}
@-moz-keyframes planet-line-6 {
  from {
    left: -10%;
  }
  to {
    left: 30%;
  }
}
@-webkit-keyframes planet-line-6 {
  from {
    left: -10%;
  }
  to {
    left: 30%;
  }
}
@-o-keyframes planet-line-6 {
  from {
    left: -10%;
  }
  to {
    left: 30%;
  }
}
@keyframes planet-line-6 {
  from {
    left: -10%;
  }
  to {
    left: 30%;
  }
}
@-moz-keyframes planet-line-7 {
  from {
    width: 120%;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes planet-line-7 {
  from {
    width: 120%;
  }
  to {
    width: 80%;
  }
}
@-o-keyframes planet-line-7 {
  from {
    width: 120%;
  }
  to {
    width: 80%;
  }
}
@keyframes planet-line-7 {
  from {
    width: 120%;
  }
  to {
    width: 80%;
  }
}
@-moz-keyframes planet-line-8 {
  from {
    left: 10%;
  }
  to {
    left: 40%;
  }
}
@-webkit-keyframes planet-line-8 {
  from {
    left: 10%;
  }
  to {
    left: 40%;
  }
}
@-o-keyframes planet-line-8 {
  from {
    left: 10%;
  }
  to {
    left: 40%;
  }
}
@keyframes planet-line-8 {
  from {
    left: 10%;
  }
  to {
    left: 40%;
  }
}
@-moz-keyframes planet-line-9 {
  from {
    width: 80%;
  }
  to {
    width: 110%;
  }
}
@-webkit-keyframes planet-line-9 {
  from {
    width: 80%;
  }
  to {
    width: 110%;
  }
}
@-o-keyframes planet-line-9 {
  from {
    width: 80%;
  }
  to {
    width: 110%;
  }
}
@keyframes planet-line-9 {
  from {
    width: 80%;
  }
  to {
    width: 110%;
  }
}
@-moz-keyframes planet-line-10 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@-webkit-keyframes planet-line-10 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@-o-keyframes planet-line-10 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@keyframes planet-line-10 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@-moz-keyframes planet-line-11 {
  from {
    width: 100%;
  }
  to {
    width: 140%;
  }
}
@-webkit-keyframes planet-line-11 {
  from {
    width: 100%;
  }
  to {
    width: 140%;
  }
}
@-o-keyframes planet-line-11 {
  from {
    width: 100%;
  }
  to {
    width: 140%;
  }
}
@keyframes planet-line-11 {
  from {
    width: 100%;
  }
  to {
    width: 140%;
  }
}
@-moz-keyframes planet-line-12 {
  from {
    left: 0;
  }
  to {
    left: 40%;
  }
}
@-webkit-keyframes planet-line-12 {
  from {
    left: 0;
  }
  to {
    left: 40%;
  }
}
@-o-keyframes planet-line-12 {
  from {
    left: 0;
  }
  to {
    left: 40%;
  }
}
@keyframes planet-line-12 {
  from {
    left: 0;
  }
  to {
    left: 40%;
  }
}
@-moz-keyframes planet-line-13 {
  from {
    width: 160%;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes planet-line-13 {
  from {
    width: 160%;
  }
  to {
    width: 70%;
  }
}
@-o-keyframes planet-line-13 {
  from {
    width: 160%;
  }
  to {
    width: 70%;
  }
}
@keyframes planet-line-13 {
  from {
    width: 160%;
  }
  to {
    width: 70%;
  }
}
@-moz-keyframes planet-line-14 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@-webkit-keyframes planet-line-14 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@-o-keyframes planet-line-14 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@keyframes planet-line-14 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@-moz-keyframes planet-line-15 {
  from {
    width: 60%;
  }
  to {
    width: 120%;
  }
}
@-webkit-keyframes planet-line-15 {
  from {
    width: 60%;
  }
  to {
    width: 120%;
  }
}
@-o-keyframes planet-line-15 {
  from {
    width: 60%;
  }
  to {
    width: 120%;
  }
}
@keyframes planet-line-15 {
  from {
    width: 60%;
  }
  to {
    width: 120%;
  }
}
@-moz-keyframes planet-line-16 {
  from {
    left: 40%;
  }
  to {
    left: -20%;
    width: 100%;
  }
}
@-webkit-keyframes planet-line-16 {
  from {
    left: 40%;
  }
  to {
    left: -20%;
    width: 100%;
  }
}
@-o-keyframes planet-line-16 {
  from {
    left: 40%;
  }
  to {
    left: -20%;
    width: 100%;
  }
}
@keyframes planet-line-16 {
  from {
    left: 40%;
  }
  to {
    left: -20%;
    width: 100%;
  }
}
@-moz-keyframes planet-line-17 {
  from {
    width: 140%;
  }
  to {
    width: 60%;
  }
}
@-webkit-keyframes planet-line-17 {
  from {
    width: 140%;
  }
  to {
    width: 60%;
  }
}
@-o-keyframes planet-line-17 {
  from {
    width: 140%;
  }
  to {
    width: 60%;
  }
}
@keyframes planet-line-17 {
  from {
    width: 140%;
  }
  to {
    width: 60%;
  }
}
@-moz-keyframes planet-line-18 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@-webkit-keyframes planet-line-18 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@-o-keyframes planet-line-18 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@keyframes planet-line-18 {
  from {
    left: 20%;
  }
  to {
    left: 40%;
  }
}
@-moz-keyframes planet-line-19 {
  from {
    width: 60%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes planet-line-19 {
  from {
    width: 60%;
  }
  to {
    width: 100%;
  }
}
@-o-keyframes planet-line-19 {
  from {
    width: 60%;
  }
  to {
    width: 100%;
  }
}
@keyframes planet-line-19 {
  from {
    width: 60%;
  }
  to {
    width: 100%;
  }
}
@-moz-keyframes planet-line-20 {
  from {
    left: -10%;
  }
  to {
    left: 40%;
  }
}
@-webkit-keyframes planet-line-20 {
  from {
    left: -10%;
  }
  to {
    left: 40%;
  }
}
@-o-keyframes planet-line-20 {
  from {
    left: -10%;
  }
  to {
    left: 40%;
  }
}
@keyframes planet-line-20 {
  from {
    left: -10%;
  }
  to {
    left: 40%;
  }
}
@-moz-keyframes planet-line-21 {
  from {
    width: 100%;
  }
  to {
    width: 60%;
  }
}
@-webkit-keyframes planet-line-21 {
  from {
    width: 100%;
  }
  to {
    width: 60%;
  }
}
@-o-keyframes planet-line-21 {
  from {
    width: 100%;
  }
  to {
    width: 60%;
  }
}
@keyframes planet-line-21 {
  from {
    width: 100%;
  }
  to {
    width: 60%;
  }
}
@-moz-keyframes planet-line-22 {
  from {
    left: 30%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes planet-line-22 {
  from {
    left: 30%;
  }
  to {
    left: 0;
  }
}
@-o-keyframes planet-line-22 {
  from {
    left: 30%;
  }
  to {
    left: 0;
  }
}
@keyframes planet-line-22 {
  from {
    left: 30%;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes planet-line-23 {
  from {
    width: 110%;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes planet-line-23 {
  from {
    width: 110%;
  }
  to {
    width: 80%;
  }
}
@-o-keyframes planet-line-23 {
  from {
    width: 110%;
  }
  to {
    width: 80%;
  }
}
@keyframes planet-line-23 {
  from {
    width: 110%;
  }
  to {
    width: 80%;
  }
}
@-moz-keyframes planet-line-24 {
  from {
    left: -10%;
  }
  to {
    left: 30%;
  }
}
@-webkit-keyframes planet-line-24 {
  from {
    left: -10%;
  }
  to {
    left: 30%;
  }
}
@-o-keyframes planet-line-24 {
  from {
    left: -10%;
  }
  to {
    left: 30%;
  }
}
@keyframes planet-line-24 {
  from {
    left: -10%;
  }
  to {
    left: 30%;
  }
}
@-moz-keyframes planet-line-25 {
  from {
    width: 100%;
  }
  to {
    width: 60%;
  }
}
@-webkit-keyframes planet-line-25 {
  from {
    width: 100%;
  }
  to {
    width: 60%;
  }
}
@-o-keyframes planet-line-25 {
  from {
    width: 100%;
  }
  to {
    width: 60%;
  }
}
@keyframes planet-line-25 {
  from {
    width: 100%;
  }
  to {
    width: 60%;
  }
}
.stars {
  animation: star-balance 100s infinite linear;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 0;
}
.stars .star-shadow {
  background-color: #fff;
  border-radius: 50%;
  height: 7px;
  position: absolute;
  width: 7px;
}
.stars .star-shadow:nth-child(1) {
  box-shadow: shadow-star(-100px, 50px), shadow-star(100px, -50px, #4d4d4d);
  left: 20%;
  top: 10%;
}
.stars .star-shadow:nth-child(2) {
  box-shadow: shadow-star(100px, -50px), shadow-star(-100px, -100px, #666);
  left: 80%;
  top: 95%;
}
.stars .star-shadow:nth-child(3) {
  box-shadow: shadow-star(200px, -100px), shadow-star(150px, 80px, #666);
  left: 5%;
  top: 40%;
}
.stars .star-shadow:nth-child(4) {
  box-shadow: shadow-star(-100px, -100px), shadow-star(-150px, 80px, #666);
  left: 90%;
  top: 40%;
}
.stars .star-shadow:nth-child(5) {
  box-shadow: shadow-star(-100px, -100px), shadow-star(-150px, 80px, #666), shadow-star(200px, 80px, #666), shadow-star(250px, -80px, #999);
  left: 45%;
  top: 20%;
}
.stars .star-shadow:nth-child(6) {
  box-shadow: shadow-star(200px, 50px), shadow-star(-100px, -100px, #333);
  left: 30%;
  top: 85%;
}
.stars .star-shadow:nth-child(7) {
  box-shadow: shadow-star(200px, -100px), shadow-star(-100px, -100px, #333), shadow-star(150px, 70px, #333);
  left: 80%;
  top: 15%;
}
.stars .star-shadow:nth-child(8) {
  box-shadow: shadow-star(300px, -100px), shadow-star(-300px, -150px, #4d4d4d);
  left: 30%;
  top: 15%;
}
.stars .star-shadow:nth-child(9) {
  box-shadow: shadow-star(150px, -100px), shadow-star(-100px, -100px, #333), shadow-star(-200px, 100px, #4d4d4d), shadow-star(250px, 60px, #4d4d4d), shadow-star(150px, 60px, #333);
  left: 75%;
  top: 70%;
}
.stars .star-shadow:nth-child(10) {
  box-shadow: shadow-star(50px, 200px), shadow-star(-100px, -100px, #4d4d4d), shadow-star(200px, 120px, #4d4d4d), shadow-star(300px, 60px, #808080), shadow-star(200px, 380px, #999), shadow-star(-100px, 300px, #999), shadow-star(100px, 300px, #999);
  left: 10%;
  top: 60%;
}
@-moz-keyframes star-balance {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes star-balance {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes star-balance {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes star-balance {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
